<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Secure it</title>
    <link rel="stylesheet" type="text/css" href="static/styles/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
        integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
        crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">

</head>

<body id="Encryption">
    <header>
        <a href="index.html" class="logo">
            <img src="static/img/logo.png" alt="Logo" width="80">
            <span>Secure it</span></a>
        <ul class="navbar">
            <li><a href="index.html">Home</a></li>
            <li><a href="encryption.html" class="active">Encryption</a></li>
            <li><a href="decryption.html">Decryption</a></li>
            <li><a href="passwordsGen.html">Password Generator</a></li>
            <li><a href="">Password manager</a></li>
        </ul>
        <div class="main">
            <a href="login.html" class="user"><i class="ri-user-fill"></i>Log In</a>
            <a href="register.html" class="user"><i class="ri-user-add-fill"></i>Register</a>
        </div>
    </header>
    <div class="Encryption-container ">
        <h2>📝 Text Encryptor <a href="https://en.wikipedia.org/wiki/Caesar_cipher" target="_blank"><small style="font-size: 20px;">
                    --Using caesar cipher--</small></a> </h2>
        <div class="Encryption-result-container">
            <textarea  placeholder="Enter your Plaintext here ..." id="plaintxt" autofocus cols="150" rows="10"></textarea>
        </div>
        <div class="settings">
            <div class="setting">
                <label>Choose a key between 1 and 26</label>
                <input type="number" id="length" style="margin-right: 15px;" min="1" max="26" value="1">
            </div>
        </div>
        <button class="btn btn-large" id="generate">
            Encrypt Text 🛠️</i>
        </button>

    </div>

    <div class="Encryption-output-container disabled">
        <h2>Text Encrypted Successfully ✅</h2>
        <div class="Encryption-output-result-container">
            <textarea disabled id="cipher" cols="150"
                rows="18"></textarea>
        </div>
        <button class="btn btn-small" style="width: 380px; margin-top: 10px ; margin-bottom:10px; " id="back">
            Back to Encryption 🛠️</i>
        </button>
        <button class="btn btn-small" style="width: 380px; margin-left: 15px" id="copy">
            Copy CipherText 📝</i>
        </button>

    </div>

    <script src="static/scripts/encryption.js"></script>
</body>
</body>

</html>