{% extends "template.html" %} 

{% block title %}Secure iT{% endblock %} 

{% block id %}passwordsGen{% endblock %} 

{% block main %}

<div class="container">
  <h2>🔑 Password Generator</h2>
  <div class="result-container">
    <span id="result"></span>
    <button class="btn" id="clipboard">
      <i id="icon" class="fa fa-clipboard"></i>
    </button>
  </div>
  <div class="settings">
    <div class="setting">
      <label>Password Length ( < 100 )</label>
      <input type="number" id="length" value="20" />
    </div>
    <div class="setting">
      <label>Include uppercase letters</label>
      <label class="toggler-wrapper style-2">
        <input type="checkbox" id="uppercase" checked />
        <div class="toggler-slider">
          <div class="toggler-knob"></div>
        </div>
      </label>
    </div>
    <div class="setting">
      <label>Include lowercase letters</label>
      <label class="toggler-wrapper style-2">
        <input type="checkbox" id="lowercase" checked />
        <div class="toggler-slider">
          <div class="toggler-knob"></div>
        </div>
      </label>
    </div>
    <div class="setting">
      <label>Include numbers</label>
      <label class="toggler-wrapper style-2">
        <input type="checkbox" id="numbers" checked />
        <div class="toggler-slider">
          <div class="toggler-knob"></div>
        </div>
      </label>
    </div>
    <div class="setting">
      <label>Include symbols</label>
      <label class="toggler-wrapper style-2">
        <input type="checkbox" id="symbols" checked />
        <div class="toggler-slider">
          <div class="toggler-knob"></div>
        </div>
      </label>
    </div>
  </div>

  <button class="btn btn-large" id="generate">Generate Password 🛠️🔐</button>
</div>
<script src="/static/scripts/passGen.js"></script>

{% endblock %}
