<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Secure it</title>
    <link rel="stylesheet" type="text/css" href="static/styles/form.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
        integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
        crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">

</head>

<body id="register">
    <h1>Register now and create your account for free to use the full features of Secure iT.</h1>
    <form class="login-form" action="/" method="POST">
        <div class="login-form__logo-container">
            <a href="index.html"><img class="login-form__logo" src="static/img/formlogo.png" alt="Logo"></a>
        </div>
        <div class="login-form__content">
            <div class="login-form__header">Register for a new account</div>
            <input class="login-form__input" type="text" autofocus required name="dc_username" placeholder="Username">
            <input class="login-form__input" type="password" required name="dc_username" placeholder="Password">
            <input class="login-form__input" type="password" required name="dc_username" placeholder="Confirm Password">
            <button class="login-form__button" type="submit">Register</button>
            <div class="login-form__links">
                <span>Already have account ? </span><a class="login-form__link" href="login.html"> Log In</a>
            </div>
            <div class="login-form__links">
                <a class="login-form__link" href="index.html"> Cancel </a>
            </div>
        </div>
    </form>
</body>

</html>