<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/styles.css" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <linkrel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
      integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
      crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet" />
  </head>

  <body id="{% block id%}{% endblock %}">
  {% if nav == True %}
    <header>
      <a href="/" class="logo">
        <img src="static/img/logo.png" alt="Logo" width="80" />
        <span>Secure iT</span></a>
      <ul class="navbar">
        <li><a href="/" class="active">Home</a></li>
        <li><a href="/encryption">Encryption</a></li>
        <li><a href="decryption">Decryption</a></li>
        <li><a href="/passwordGen">Password Generator</a></li>
        <li><a href="">Password manager</a></li>
      </ul>
      {% if session["user_id"] %}
      <div class="main">
        <a href="/" class="user"><i class="ri-account-box-fill"></i>name</a>
        <a href="/logout" class="user"><i class="ri-logout-box-r-fill"></i>Log out</a>
      </div>
      {% else %}
      <div class="main">
        <a href="/login" class="user"><i class="ri-user-fill"></i>Log in</a>
        <a href="/register" class="user"><i class="ri-user-add-fill"></i>Register</a>
      </div>
      {% endif %}
    </header>
    {% endif %}
    {% block main %} {% endblock %}
  </body>
</html>
