{% extends "template.html" %} {% block title %}Secure iT{% endblock %} {% block id %}passman{% endblock %} {% block main %}

<div class="containerr">
  <div class="section">
    <h2 class="action">Update your password</h2>
    <form class="forme" action="/update" method="post">
      <input type="text" autocomplete="off" required autofocus name="name" value="{{account.name}}" placeholder="Name or Email" />
      <input type="text" autocomplete="off" required name="password" placeholder="Password" value="{{account.password}}" />
      <input type="text" autocomplete="off" required name="link" placeholder="Link" value="{{account.link}}" />
      <input type="hidden" autocomplete="off" name="id" value="{{account.id}}" />
      <input type="submit" value="Update" />
    </form>
  </div>
</div>
</div>
<a href="/passwordMan">Cancel</a>
<style>
  a {
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    border: 1px solid #64ffda;
    cursor: pointer;
    text-decoration: none !important;
    font-weight: bold;
    border-radius: 25px 10px 25px 10px;
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    padding: 10px;
    background-color: var(--sec-color);
    display: inline !important;
    position: absolute;
    top: 40%;
    left: 45%;
  }
  a:hover {
    background-color: #64ffda;
    color: #060f1c;
    border: 1px solid #000000;
}
</style>
{% endblock %}
